@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
    @apply antialiased;
  }

  body {
    @apply min-h-screen w-full overflow-x-hidden;
  }
}

@layer components {
  .container-responsive {
    @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
